<h3>編集</h3>

<%= form_with model: @user do |f| %>

  <p><%= f.label :name ,"名前" %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :introduction ,"自己紹介" %></p>
  <p><%= f.text_field :introduction %></p>

  <p><%= f.label :image ,"アイコン画像" %></p>
  <%= f.file_field :image%>
  <p><%= f.submit "編集を完了する" %></p>
  <%= image_tag @user.image.thumb.url %>
  


<% end %>
