<div class=login_header>
 
  <div class="homeicon">
    <%= link_to :root, class:"homeicon_link" do %>
      <%=  image_tag("logo_transparent.png", class:"homeicon_image") %>
    <%end%>
  </div>

  <div class=user_profile>
    <%= image_tag current_user.image.url, class:"user_image" %>
    <p><%= current_user.name %></p>
  </div>

</div>

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"sign_out_link" %>

  <%= link_to "マイページへ", users_account_path, class:"mypage_link" %>
