<div class=login_header>
 
  <div class="homeicon">
    <%= link_to :root, class:"homeicon_link" do %>
      <%=  image_tag("logo_transparent.png", class:"homeicon_image") %>
    <%end%>
  </div>

  <div class=user_profile>
    <%= image_tag current_user.image.url, class:"user_image" %>
    <ul class=user_menu>
      <li><%= current_user.name %>
        <ul class=menu_list>
          <li>施設の新規登録</li>
          <li>マイページ</li>
          <li>ログアウト</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"sign_out_link" %>

  <%= link_to "マイページへ", users_account_path, class:"mypage_link" %>
  
  <p>jQuery稼働テスト(未稼働)</p>

  
