<p>予約内容確認</p>
<p>予約id:<%= @reservation.id %></p>
<p>ユーザid:<%= @reservation.user_id %></p>
<p>ルームid:<%= @reservation.room_id %></p>
<p>チェックイン：<%=  @reservation.check_in_date %></p>
<p>チェックアウト：<%= @reservation.check_out_date %></p>
<p>日数：<%= @stay_days %></p>
<p>人数：<%= @reservation.reservation_number_of_people %></p>
<p>お支払い金額：<%= @total_price %></p>
<%= form_with model: @reservation, url:reservations_path do |f| %>
  <%= f.hidden_field :check_in_date %>
  <%= f.hidden_field :check_out_date %>
  <%= f.hidden_field :reservation_number_of_people %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :room_id %>
  <%= f.submit "予約を確定する"%>
<% end %>
<%= link_to "キャンセル", :back %>
