<p>予約一覧</p>
<% @reservation.each do |reservation|%>
  <p>施設画像</p>
  <% if reservation.room.hotel_image? %>
    <%= image_tag reservation.room.hotel_image.url, class:"hotel_image" %>
  <% else %>
    <%= image_tag "default_hotel_image.png", class:"hotel_image" %>
  <% end %>
  <p>施設名:<%= reservation.room.hotel_name %></p>
  <p>紹介文:<%= reservation.room.hotel_detail %></p>
  <p>ユーザid:<%= reservation.user_id %></p>
  <p>ルームid:<%= reservation.room_id %></p>
  <p>チェックイン：<%=  reservation.check_in_date %></p>
  <p>チェックアウト：<%= reservation.check_out_date %></p>
<%end%>
